<% if (!user) { %>
	<h2>Welcome! Please sign in.</h2>
	<p><a href="auth/steam">Sign In with Steam</a></p>
<% } else { %>
	<h2>Hello, <%= user.displayName %>! - <a href='logout'>Logout</a></h2>
<% } %>

<p><a href="account">See Account Information</a></p>

