<!-- CODE IS NOT MINE, SOURCED FROM https://purecss.io/layouts/ UNDER THE zLib license http://www.zlib.net/zlib_license.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Recommendation list</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
    <link rel="stylesheet" href="/node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/node_modules/purecss/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/style/styles.css">
</head>